/* Common Shared Styles */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.text-primary {
  color: #E55473;
}

.button-primary {
  padding: 20px 43px;
  border-radius: 8px;
  background-color: #E55473;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  border: 0px;
}

.section-gap {
  margin-top: 128px;
}

.section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.section-details {
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}

.section-headings {
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
}

/* Header Section Styles */

.header {
  background-color: rgba(229, 84, 115, 0.10);
}

/* header Navbar Section Styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.navbar-title {
  color: #000000;
  font-size: 48px;
  font-weight: 800;
}

.navbar a {
  text-decoration: none;
}

menu>ul {
  display: flex;
  align-items: center;
}

ul>li {
  list-style: none;
  margin-left: 20px;
}

ul li a {
  padding: 20px;
  background: black;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600px;
}

/* header Banner Section Styles */
.header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  gap: 97px;
}

.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 32px;
}

/* Our Feature Flowers Section Styles */

.feature-images {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  gap: 24px;
}

.feture-item {
  text-align: center;
}

.feature-image-box {
  width: 446px;
  border-radius: 300px 300px 0px 0px;
}

.image-box1 {
  padding-top: 110px;
  background-color: rgba(167, 33, 98, 0.15);
}

.image-box2 {
  padding-top: 117px;
  padding-bottom: 51px;
  background-color: rgba(5, 151, 160, 0.15);
}

.image-box3 {
  padding-top: 67px;
  background-color: rgba(71, 125, 17, 0.15);
}

.feature-image-text {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 32px;
}

/* Hot Deal Section Styles */

#hot_deal-section {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}

.hot_deal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 186px;
  padding: 100px 170px;
}

/* Social Media Section Styles */

.instagram-images {
  display: flex;
  justify-content: space-between;
}


/* Subscribe Section Styles */

.subscribe-section {
  background-image: url(../images/Rectangle\ 9.png);
  background-repeat: no-repeat;
  padding: 122px 280px;
}

.subscribe-area input {
  width: 600px;
  height: 64px;
  color: rgba(39, 39, 39, 0.60);
  font-size: 16px;
  border-radius: 8px;
  background-color: #FFFFFF;
  border: 0px;
  padding-left: 22px;
  margin-top: 20px;
  margin-right: 16px;
}

/* Footer Section Styles */
footer {
  background-color: #111010;
  text-align: center;
}

footer>div {
  padding: 128px 350px;
}

.footer-title {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 24px;
}

.footer-subtext {
  color: rgba(255, 255, 255, 0.90);
}

.copyright-text {
  color: rgba(255, 255, 255, 0.40);
  font-size: 16px;
}