/* Common Shared Styles */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.button-primary {
  padding: 20px 43px;
  border-radius: 8px;
  background-color: #E55473;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  border: 0px;
}

.section-gap {
  margin-top: 128px;
}

.section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.section-details {
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}

.section-headings {
  text-align: center;
}

/* Header Section Styles */

.header {
  background-color: rgba(229, 84, 115, 0.10);
}

.header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  gap: 97px;
}

.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 32px;
}

/* Our Feature Flowers Section Styles */

/* Hot Deal Section Styles */

#hot_deal-section {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}

.hot_deal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 186px;
  padding: 100px 170px;
}

.section-title span {
  color: #E55473;
}

/* Social Media Section Styles */

.instagram-images {
  display: flex;
  justify-content: space-between;
}


/* Subscribe Section Styles */

.subscribe-section {
  background-image: url(../images/Rectangle\ 9.png);
  background-repeat: no-repeat;
  padding: 122px 280px;
}

.subscribe-area input {
  width: 600px;
  height: 64px;
  color: rgba(39, 39, 39, 0.60);
  font-size: 16px;
  border-radius: 8px;
  background-color: #FFFFFF;
  border: 0px;
  padding-left: 22px;
  margin-top: 20px;
  margin-right: 16px;
}

/* Footer Section Styles */